@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

img {
    width: 100%;
    border-radius: 10px;
}

.qr-code {
    box-sizing: border-box;
    position: fixed;
    margin: auto;
    inset: 0;
    height: 499px;
    max-width: 320px;
    padding: 16px;
    border-radius: 20px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 10%);
}

.text{
    padding-left: 16px;
    padding-right: 16px;
}
.text-one {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-two {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
  letter-spacing: 0.2px;
}